
<nav>
  <ul>
    <li class="nav"><a href="/">Home</a></li>
    <li class="nav"><a href="#">Add a contact</a></li>
    <li class="nav"><a href="/about">About</a></li>
  </ul>
</nav>
<main>
  <h2>There are <span><%= @all_contacts.count %></span> contacts</h2>
  <ul class="contacts">
    <% @all_contacts.each do |contact| %>
        <li class="contact"><%= contact.full_name %> (<%= contact.email %>)
          <div class="options">
            <a href="/contacts/<%= contact.id %>">View</a> | <a href="/contacts/<%= contact.id %>/edit">Edit</a> | <a href="/contacts/<%= contact.id %>">Delete</a>
          </div>
        </li>

      <% end %>
  </ul>

</main>
