<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contacts</title>
  </head>
  <body>
    <main>
      <% @all_contacts.each do |contact| %>

        <h2>Contact <%= contact.id %></h2>
        <ul>
          <li>First Name: <%= contact.first_name %></li>
          <li>Last Name: <%= contact.last_name %></li>
          <li>email: <%= contact.email %></li>
          <li>Note: <%= contact.note %></li>
        </ul>
      <% end %>
      <a href="/">Back</a>
    </main>
  </body>
</html>
